This page is still under developing... just close the tab.
<br>
Hope I can see you again.
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>































Why are you still there? Alright, let me tell you something... <br><br>
You know... It is hard to find a job either for computer science undergraduates or graduates, the career environment is so harsh for us. Sometimes, I just feel like, whether I need to insist on this major. <br><br>
As you can see, AI is replacing everything now, they can even handle tasks for software development. They have outstanding design and logic ideas and... I am... kinda worrying about my future... <br><br>
AI learns so fast... They're able to apply skills that humans take years to learn and understand... That's... that's really unfair...<br><br>
Ahh... I think I've talked too much at this point...