<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/content.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="../images/cxy.png">
    <title>Tommy's WeCom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body data-theme="light_theme">
    <div class="navbar">
        <div class="navbar-item" style="padding-left: 10%; font-size: 3vh; cursor: pointer"><a href="../index.html">Xinyang Cheng</a></div>
    </div>
    <div class="navbar-narrow">
        <div class="navbar-item"><a href="../index.html">Xinyang Cheng</a></div>
        <div class="navbar-item"><a href="mailto:xycheng@bu.edu"><i class="fa fa-envelope" id="email"></i></a></div>
        <div class="navbar-item"><a href="https://www.linkedin.com/in/xinyang-cheng-325825260" target="_blank"><i class="fa-brands fa-linkedin icon-narrow" id="LinkedIn"></i></a></div>
        <div class="navbar-item"><a href="https://github.com/TommyCheng023" target="_blank"><i class="fa-brands fa-github icon-narrow" id="github"></i></a></div>
        <div class="navbar-item"><a href="https://www.instagram.com/tommyyyy985/" target="_blank"><i class="fa-brands fa-instagram icon-narrow" id="ins"></i></a></div>
        <div class="navbar-item"><a href="wecom_connection.html" target="_blank"><i class="fa-brands fa-weixin icon-narrow" id="weixin"></i></a></div>
    </div>
    <div style="padding-top: 5%; padding-left: 8%; margin-bottom: 13%">
        <div>
            <div style="display:flex; flex-direction:row;justify-content:flex-start;">
                <img src="../images/wecom.png" style="height: 5.5%; width: 5.5%; margin-right:8px;" alt="WeCom">
                <h1 style="color: #0082ef">WeCom Connection</h1>
            </div>
            <p>In consideration of privacy reasons, my personal Weixin account will not be given directly to the public. :(</p>
            <p>If you want to contact me for some cool academic or business issue, feel free to scan the QR code below and add my WeCom!</p>
        </div>
        <div>
            <img src="../images/wecom_code.jpg" alt="QR Code">
        </div>
    </div>
</body>
<footer>
    <p id="footer-text">© 2024 Personal Website.</p>
    <p id="footer-text">Developed by Xinyang Cheng. Powered by GitHub Pages.</p>
</footer>