.title404 {
    background: -webkit-linear-gradient(#ff0004,rgb(102, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5rem;
    transition: transform 0.5s;
}
.before-clicked li {
    padding-bottom: 2%;
}

#theButton, #theButton2 {
    margin: auto auto;
    color: black;
    transition: all ease-out 0.35s;
}

#theButton:hover {
    background-color: grey;
    color: white;
}
#theButton2:hover {
    background-color: grey;
    color: white;
}

/* animation */  
.fade-out {
    opacity: 0;
    transition: all ease-out 1.5s !important;
}
  
.fade-in {
    opacity: 1;
    transition: all ease-in 1.5s !important;
}

/* secret update */
#after-clicked p {
    color: rgb(255, 255, 208);
    margin-left: 5%;
}
.secret-line {
    color: white;
    filter: blur(5px);
}
.secret-line:hover {
    filter: blur(4.5px);
}